@import "include-media.scss"; 
$red-gradient:linear-gradient(#d02626, #b01e1e);
$red-gradient-reverse:linear-gradient(#b01e1e, #d02626);
$red-mcp: #d02626;
$grey-mcp: #888888;
$shadow:#270101;
html, body {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header{
    position:fixed;
    background:$red-gradient;
    height: 70px;
    width: 100%;
    z-index: 20;

   nav.center{
    @media (max-width: 940px) {
        width: 80%;
        left: 53%;
        }
    @media (max-width: 700px) {
        left: 50%;
        }
    @media (max-width: 560px) {
        width: 100%;
        }
    @media (max-width: 420px){
        left: 47%;
        top: 50%;
        }   
   }
    nav{
        display: flex;
        
        ul{
            display: flex;
            flex-wrap: wrap;
       
            li{
                display: flex;
                &:nth-of-type(1),
                &:nth-of-type(2){
                    @media (max-width: 420px){
                        display: none;                        
                        }
                }
                &:nth-of-type(6) a{
                    background: white;
                    color: $red-mcp;
                 
                    &:hover{
                        opacity: .95;
                    }
                    &:active{
                        opacity: .5;
                    }
                  
                }
                a{
                    color: white;
                    letter-spacing: 1px;
                    text-decoration: none;
                    padding: 15px 20px;
                    text-transform: uppercase;
                    border-radius: 13px;
                    margin-right: 20px;
                    line-height: 10px;
                    transition: .1s ease-in-out;
                    @media (max-width: 1740px) {
                        padding: 15px 15px;
                        }
                    @media (max-width: 1620px) {
                        padding: 14px 10px;
                        }
                    @media (max-width: 1493px) {
                        padding: 14px 5px;
                        }
                    @media (max-width: 1375px) {
                        margin-right: 15px;
                        }
                    @media (max-width: 1320px) {
                        margin-right: 10px;
                        }
                    @media (max-width: 1260px) {
                        margin-right: 5px;
                        }
                    @media (max-width: 1200px) {
                        font-size: .9em;
                        }
                    @media (max-width: 1110px) {
                        font-size: .8em;
                        }
                    @media (max-width: 1030px) {
                        font-size: .7em;
                        }
                        @media (max-width: 940px) {
                        font-size: .9em;
                        margin-right: 30px;
                            }
                        @media (max-width: 880px) {
                        margin-right: 20px;
                            }
                        @media (max-width: 810px) {
                        margin-right: 10px;
                            }
                        @media (max-width: 660px) {
                        font-size: .8em;
                            }
                        @media (max-width: 600px) {
                        margin-right: 3px;
                            }
                        @media (max-width: 560px) {
                        font-size: .9em;
                        margin-right: 20px;
                            }
                        @media (max-width: 490px) { 
                        margin-right: 15px;
                            }
                        @media (max-width: 430px) {
                        margin-right: 10px;
                            }
                        @media (max-width: 420px) {
                        font-size:1em;
                        padding: 20px;
                        margin-right: 0;
                            }
                        @media (max-width: 320px) {
                        padding: 15px;
                        }
                        
                   
                    &:hover{
                        background: white;
                        color: $red-mcp;
                    }
                    &:active{
                        opacity: .9;
                    }
                }
            }
        }
    }
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    @media (max-width: 420px) {
        left:70%;
        top:65%;
     }
    @media (max-width: 320px) {
        left:75%;
        top:65%;
     }
  
}
.close-button{
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 8%;
    z-index: 100;

    @media (max-width: 1400px) {
        top: 10%;
        right:10%;
     }
    @media (max-width: 600px) {
        top: 22%;
        right: 8%;
        transform: scale(.8);
     }
    @media (max-width: 600px) {
        top:25%;
     }
}
.part1,
.part2,
.part3,
.part4{
    display: block;
    opacity: 0;
    height: 95vh;
}

.part1.active,
.part2.active,
.part3.active,
.part4.active{
    opacity: 1;
}
.gallery.active{
    opacity: 0;
    margin-left: -100%;
    transform: scale(0);
}
.gallery {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: block;
    opacity: 1;
    transition: .2s ease-in-out;
    margin-top: 0%;
    z-index: 19;
    transform:  scale(1);
    perspective: 1000px;
    .swiper-container {
        top: 15%;
        width:90%;
        height: 800px;
        @media (max-width: 1400px) {
            top:15%;
            height:600px;
        }
        @media (max-width: 900px) {
            height:450px;
        }
        @media (max-width: 600px) {
            height:300px;
            top: 30%;
        }
        @media (max-width: 420px) {
            
            top: 40%;
        }
        img{
            width: 70%;
            height: 760px;
            margin-left: 15%;
            margin-top: -4%;
            cursor: grab;
            @media (max-width: 1400px) {
                width: 70%;
                height:550px;
            }
            @media (max-width: 900px) {
                height:400px;
            }
            @media (max-width: 600px) {
                height:280px;
                margin-top: 0;
            }
        }
        
    }
    .swiper-pagination{
        margin-bottom: 3%;
        @media (max-width: 600px) {
            margin-bottom: -3%;
        }
    }
    .swiper-pagination-bullet{
       background: $red-mcp;
    }
     .swiper-button-next,
     .swiper-button-prev{
        color: $red-mcp;
    }
}

.part1{
    
    width: 100%;
  
    .motorcycle{
        height: 300px;
        width: 600px;
        margin-bottom: 1em;
        @media (max-width: 1400px) {
        height: 200px;
        width:500px;
    }
        @media (max-width: 420px) {
        height: 160px;
        width:400px;
    }
    }
    h1{
        margin: 0;
        &:nth-of-type(1){
            span{
            color: $red-mcp;
            }
            font-size: 5em;
            @media (max-width: 1400px) {
                font-size: 4em;
            }
            // @media (max-width: 420px) {
            //    font-size: 3.6em;
            // }
        }
        &:nth-of-type(2){
            color: $grey-mcp;
            font-size: 3.5em;
            margin-top: -8px;
            @media (max-width: 1400px) {
            font-size: 3.3em;
            }
            // @media (max-width: 420px) {
            //     font-size: 2.2em;
            //  }
        }
    }
    h4{
        margin: 10px 0px 25px;
        // @media (max-width: 420px) {
        //     font-size: .8em;
        //  }
    }
    button{
        padding:10px 15px 10px 30px;
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 30px;
        outline: none;
        border: none;
        background: $red-gradient;
        color:white;
        position: relative;
        cursor: pointer;
        transition: .1s ease-in-out;
        box-shadow: 0px 2px 0px 0px $shadow;
        @media (max-width: 1400px) {
            font-size: 1em;
            }
        @media (max-width: 420px) {
            font-size: 1.5em;
            }
        &:hover{
            transform: scale(1.07);
        }
        &:active{
            transform: scale(1);
        }
        a{
            color: white;
        }
        svg{
            position: absolute;
            left: 5%;
            transform: rotate(-60deg) scale(.8);
            @media (max-width: 1400px) {
                top: 19%;
                }
            @media (max-width: 420px) {
                top: 24%;
                }
        }
    }
}
.part2{
   
    position: relative;
    
    .rotatedContainer{
        background: $red-gradient;
        height: 200px;
        width: 200px;
        position: relative;
        border-radius: 13px;
        transform: rotate(45deg);
        box-shadow: -3px -3px 0px 0px #620000;
        @media (max-width: 1400px) {
            height: 160px;
            width: 160px;
            }
        @media (max-width: 420px) {
            height: 140px;
            width: 140px;
            }
        &:nth-of-type(2){
            margin-left: -80%;
            margin-top: -20%;
            box-shadow: -3px 3px 0px 0px #620000;
        }
        &:nth-of-type(3){
           margin-left: 80%;
           margin-top: -100%;
           box-shadow: 3px -3px 0px 0px #620000;
        }
        &:nth-of-type(4){
           margin-top: -20%;
           box-shadow: 3px 3px 0px 0px #620000;
        }
        h2{
            position: absolute;
            transform: rotate(-90deg);
            left: -120%;
            top: 40%;
            font-size: 6em;
            opacity: .1;
            @media (max-width: 1400px) {
                font-size: 5em;
                }
            @media (max-width: 420px) {
                font-size: 4.3em;
                }
        }
        .content{
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%) rotate(-45deg);
            p{
                color: white;
                text-transform: uppercase;
                margin:5px 0 0 0;
                letter-spacing: 1px;
                @media (max-width: 1400px) {
                    font-size: .8em;
                    }
            }
            svg{
                @media (max-width: 1400px) {
                    height: 80px;
                    width: 80px;
                    }
                @media (max-width: 1400px) {
                    height: 64px;
                    width: 64px;
                    }
            }
        }
    }
}
.part3{
    
    position: relative;
    height: 110vh;
    .rotatedContainer{
        background: $shadow;
        height: 450px;
        width: 450px;
        border-radius: 16px;
        position: relative;
        transform: rotate(45deg);
        box-shadow: 3px 3px 0px 0px #620000;
        overflow: hidden;
        @media (max-width: 1400px) {
            height: 370px;
            width: 370px;
            }
        @media (max-width: 420px) {
            height: 310px;
            width: 310px;
            }
    }
    .content{
        transform: rotate(-45deg);
        position: absolute;
        top: -20%;
        left: -20%;
        background: rgba(255, 0, 0, 0.52);
        @media (max-width: 1400px) {
            top: -30%;
            }
        @media (max-width: 420px) {
            top: -40%;
            left: -55%;
            }
        iframe{
            opacity: .95;
        }
    }
    .text{
        h2{
            font-size: 5.5em;
            color: red;
            position: absolute;
            top: -24%;
            left: 46%;
            opacity: .2;
            transform: rotate(45deg);
            @media (max-width: 1400px) {
                font-size: 4.5em;
                }
            @media (max-width: 420px) {
                font-size: 3.66em;
                }
                
        }
        p{
            font-size: 1.6em;
            color: $red-mcp;
            font-weight: bold;
            position: absolute;
            @media (max-width: 1400px) {
                font-size: 1.3em;
                }
            @media (max-width: 420px) {
                font-size: 1.1em;
                }
            &:nth-of-type(1){
            top:2%;
            left: -33%;
            transform: rotate(-45deg);    
            }
            &:nth-of-type(2){
            bottom:2%;
            right: -13%;
            transform: rotate(-45deg);    
            }
        }
    }
   
}
.part4{
    position: relative;
    .rotatedContainer{
        height: 450px;
        width: 450px;
        background: $red-gradient;
        color: white;
        border-radius: 16px;
        transform: rotate(45deg);
        box-shadow: 4px 4px 0px 0px #620000;
        position: relative;
        @media (max-width: 1400px) {
            height: 370px;
            width: 370px;
            }
        @media (max-width: 420px) {
            height: 310px;
            width: 310px;
            }
        h2{
            position: absolute;
            transform: rotate(-90deg);
            left: -70%;
            top: 20%;
            font-size: 6em;
            opacity: .1;
            color: black;
            @media (max-width: 1400px) {
                font-size: 5em;
                left: -68%;
                }
            @media (max-width: 420px) {
                font-size: 3.8em;
                left: -59%;
                top: 21%;
                }
        }
    }
    .content{
        position: absolute;
        
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
       
        p{
            letter-spacing: 1px;
            font-size: 1.4em;
            font-weight: 500;
         
            &:nth-of-type(2){
                font-size: 1.2em;
            }
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(4){
                margin-bottom:3px;
            }
            &:nth-of-type(2),
            &:nth-of-type(4),
            &:nth-of-type(5){
                margin-top: 0;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5){
                @media (max-width: 420px) {
                    font-size: 1.1em;
                    }
            }
        }
        svg{
            cursor: pointer;
            transition: .1s ease-in-out;
            &:hover{
                opacity: .8;
            }
            &:active{
                opacity: 1;
            }
        }
    }
}